<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head.ejs') %>
</head>

<body>
	<%- include('partials/header.ejs') %>

		<main class="main">
			<h1>This is a home page</h1>
			<section class="section">
				<div class="post">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae provident
						commodi itaque quas accusantium voluptatem, culpa sunt eveniet tenetur
						harum cumque, quisquam eos. Voluptas exercitationem ipsam ipsa ullam
						voluptate, suscipit maxime sint perferendis molestias odit, dolor,
						officiis facere accusamus? Laborum totam perspiciatis voluptates
						cupiditate id fugiat placeat recusandae, quam temporibus magni. Ex
						suscipit nostrum quibusdam. Voluptatum animi incidunt placeat modi
						delectus, quia explicabo mollitia odio accusantium rerum repellat nihil
						error aliquam beatae doloribus nostrum voluptatem odit ex voluptates
						sapiente debitis corrupti minus dicta consequuntur. Nostrum,
						repudiandae! Aperiam perferendis optio est fuga fugiat dignissimos
						suscipit totam culpa fugit nobis vero, voluptates atque beatae corrupti
						accusamus voluptate nulla exercitationem assumenda rem quis repellendus
						asperiores temporibus! Repellat officiis aliquid impedit expedita
						temporibus at non, vel, natus perferendis, nobis voluptate sequi quo!
						Adipisci veniam odio, cum, atque quod eveniet, cupiditate perspiciatis
						placeat voluptas vitae rem! Nobis error rerum aspernatur numquam
						expedita suscipit dignissimos ut hic nisi fugiat velit molestiae
						obcaecati, labore eaque optio distinctio voluptas fuga, quam, dolores
						porro explicabo veniam officiis sint natus? Fugiat nostrum, similique a
						ratione corporis repellat laborum totam consectetur architecto rem,
						quibusdam inventore ducimus velit consequuntur nulla, nisi labore
						deserunt adipisci tempore dolore veniam! Officiis et repellat eum
						aliquam, hic beatae adipisci quam molestias quia cum itaque vitae
						dignissimos magni impedit, dolorem ullam saepe laudantium, eligendi
						provident nostrum placeat. Omnis, ipsa a quia consequuntur perferendis
						modi labore dolorem dignissimos quibusdam voluptate. Cum aliquid eos
						reprehenderit voluptatum laborum quia, quam impedit excepturi? Quidem
						nostrum, ipsam id saepe at ullam, eius, accusantium iste placeat
						aspernatur hic sunt sint distinctio suscipit explicabo. Non voluptas
						vero, nobis reiciendis totam aspernatur cumque voluptatem nemo error
						molestiae ex labore debitis provident fugiat doloremque libero veniam
						ullam ipsum. Nihil perferendis autem temporibus eligendi ullam
						repellendus unde id, ducimus iure fugiat saepe quas, ipsam officiis
						harum velit?
					</p>
				</div>

				<div class="post">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum!
						Ab, doloribus dolorem beatae rerum earum dignissimos nemo delectus
						harum. Nihil eaque quo veniam, at laudantium quos sint voluptatum
						officia ducimus laborum fugiat odit illo, sequi accusamus natus? Et,
						voluptas minus magni reiciendis magnam, accusamus culpa nostrum nemo,
						enim voluptate placeat maxime dolore repellat. Repudiandae obcaecati sit
						laudantium necessitatibus esse itaque tempora animi cum? Cum dicta ut
						blanditiis velit asperiores accusantium, obcaecati, rerum neque ex
						voluptas totam explicabo deleniti quis alias odit, officiis ab sequi?
						Expedita voluptatem saepe quam! Id libero labore minima eius asperiores
						reiciendis non iure. Adipisci ipsam facere a fugit dicta? Enim quos
						praesentium aliquam maiores possimus rerum ducimus corrupti, commodi cum
						a neque temporibus modi perspiciatis debitis veritatis ab, dignissimos
						eveniet ut repudiandae ratione odio, culpa dicta tempore quia. Atque
						quidem odio inventore nemo suscipit sed, ea corporis quia, iure dicta
						iste officia molestiae voluptatem sequi rerum similique, nobis cumque
						doloremque voluptas. Perspiciatis quaerat fugiat repellendus omnis nobis
						in ad tempore excepturi fugit ipsam totam delectus veritatis beatae
						deleniti quasi autem, illum deserunt! Culpa libero cum ducimus deleniti
						laborum esse corrupti, fugiat dolore veritatis soluta omnis assumenda
						repellendus iste consequatur, quam eos, magni voluptates in ad.
					</p>
				</div>

			</section>

			<%- include('partials/footer.ejs') %>
		</main>
		<%- include('partials/foot.ejs') %>
</body>

</html>